<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BSQ Admin</title>
</head>
<body>

<div id="react-root"></div>
<script src="/js/babel.min.js"></script>
<script src="/js/react.js"></script>
<script src="/js/react-dom.js"></script>
<script src="/js/lodash.min.js"></script>
<script src="/js/protobuf.js"></script>
<script src="/js/admin-proto-loader.jsx" type="text/jsx"></script>
<script src="/js/admin-socket.jsx" type="text/jsx"></script>

<script type="text/jsx">
    function getKeyByValue(object, value) {
        for (var prop in object) {
            if (object.hasOwnProperty(prop)) {
                if (object[prop] === value)
                    return prop;
            }
        }
    }


    class Questions extends React.Component {
        state = {
            questions: [],
        };

        componentDidMount() {
            AdminSocket.registerResponseHandler('adminGetQuestionsResponse', this._onGetQuestionsResponse.bind(this));
            const message = RpcRequest.create();
            message.adminGetQuestionsRequest = AdminGetQuestionsRequest.create();
            AdminSocket.sendMessage(message);
        }

        _onGetQuestionsResponse(response) {
            this.setState({
                questions: response.questions
            });
        }

        activateQuestion(question) {
            const message = RpcRequest.create();
            message.adminSetActiveQuestionRequest = AdminSetActiveQuestionRequest.create();
            message.adminSetActiveQuestionRequest.questionId = question.id;
            AdminSocket.sendMessage(message);
        }

        render() {
            return (
                    <div>
                        {this.state.questions.sort((a, b) => a.id - b.id).map(question => (
                                <div key={question.id}>
                                    {question.id}:
                                    <em>{question.category}</em><br />
                                    <strong>{question.question}</strong>
                                    <button onClick={() => this.activateQuestion(question)}>Activate</button>
                                </div>
                        ))}
                    </div>
            );
        }

    }

    class State extends React.Component {
        state = {
            state: null,
        };

        componentDidMount() {
            AdminSocket.registerResponseHandler('getGameStateResponse', this._onGetGameState.bind(this));
            AdminSocket.registerEventHandler('gameStateChangeEvent', this._onStateChange.bind(this));
            const message = RpcRequest.create();
            message.getGameStateRequest = GetGameStateRequest.create();
            AdminSocket.sendMessage(message);
        }

        _onGetGameState(message) {
            this.setState({
                state: message.state,
            });
        }

        _onStateChange(state) {
            this.setState({
                state: message.newState,
            });
        }

        _resetState() {
            const message = RpcRequest.create();
            message.adminResetStateRequest = AdminResetStateRequest.create();
            AdminSocket.sendMessage(message);
        }

        render() {
            if (this.state.state === null) {
                return <div>loading state</div>;
            }
            // debugger;
            return (
                    <div>
                        <strong>State:</strong>
                        <em>{getKeyByValue(GameState.State, this.state.state.state)}</em>
                        <strong>Question:</strong>
                        <em>{this.state.state.currentQuestion.id}</em>
                        <button disabled={!this.props.dangerZone}>RESET STATE ENTIRELY</button>
                    </div>
            );
        }
    }

    class AdminInterface extends React.Component {
        state = {
            rootsLoaded: false,
            dangerZone: false,
        };

        dangerZoneCheckbox = null;

        componentDidMount() {
            ProtoLoader.load().then(() => {
                this.setState({rootsLoaded: true});
                AdminSocket.open();
            });
        }

        checkDangerZone() {
            this.setState({dangerZone: this.dangerZoneCheckbox.checked});
        }

        _onResponse(message) {

        }

        _onEvent(message) {

        }

        render() {
            if (this.state.rootsLoaded) {
                return (
                        <div style={ {backgroundColor: this.state.dangerZone ? 'red' : 'white'} }>
                            <input type="checkbox"
                                   onClick={this.checkDangerZone.bind(this)}
                                   ref={c => {
                                       this.dangerZoneCheckbox = c
                                   }}
                                   style={ {width: 32, height: 32}}
                            />
                            <span style={ {color: 'red'} }>DANGER ZONE</span>
                            <h2>State: </h2>
                            <State dangerZone={this.state.dangerZone}/>
                            <br />
                            <h2>Questions: </h2>
                            <Questions />
                        </div>
                );
            } else {
                return <div>Loading protos...</div>;
            }
        }
    }

    ReactDOM.render(<AdminInterface />, document.getElementById('react-root'));
</script>
</body>
</html>