version: '2.1'
services:
  redis:
    image: redis
    command: redis-server --appendonly yes
    volumes:
     - redis-data:/data
    healthcheck:
      test: "redis-cli ping"
  app:
    build: server
    depends_on:
          redis:
            condition: service_healthy
    ports:
      - "80:8080"
    environment:
      - REDIS_HOST=redis
      - PROD=true
volumes:
  redis-data:
