<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BSQ Admin</title>
</head>
<body>

<div id="react-root"></div>
<script src="/js/babel.min.js"></script>
<script src="/js/react.js"></script>
<script src="/js/react-dom.js"></script>
<script src="/js/protobuf.js"></script>
<script src="/js/admin-proto-loader.jsx" type="text/jsx"></script>
<script src="/js/admin-socket.jsx" type="text/jsx"></script>

<script type="text/jsx">
    class Questions extends React.Component {
        state = {
            questions: [],
        };

        componentDidMount() {
            AdminSocket.registerResponseHandler('adminGetQuestionsResponse', this._onGetQuestionsResponse.bind(this));
            const message = RpcRequest.create();
            message.adminGetQuestionsRequest = AdminGetQuestionsRequest.create();
            AdminSocket.sendMessage(message);
        }

        _onGetQuestionsResponse(response) {
            this.setState({
                questions: response.questions
            });
        }

        activateQuestion(question) {
            const message = RpcRequest.create();
            message.adminSetActiveQuestionRequest = AdminSetActiveQuestionRequest.create();
            message.adminSetActiveQuestionRequest.questionId = question.id;
            AdminSocket.sendMessage(message);
        }

        render() {
            return (
                    <div>
                        {this.state.questions.sort((a, b) => a.id - b.id).map(question => (
                                <div key={question.id}>
                                    {question.id}:
                                    <em>{question.category}</em><br />
                                    <strong>{question.question}</strong>
                                    <button onClick={() => this.activateQuestion(question)}>Activate</button>
                                </div>
                        ))}
                    </div>
            );
        }

    }

    class Test extends React.Component {
        state = {
            rootsLoaded: false,
        };

        componentDidMount() {
            ProtoLoader.load().then(() => {
                this.setState({rootsLoaded: true});
                AdminSocket.open();
            });
        }

        _onResponse(message) {

        }

        _onEvent(message) {

        }

        render() {
            if (this.state.rootsLoaded) {
                return <Questions />;
            } else {
                return <div>Loading protos...</div>;
            }
        }
    }

    ReactDOM.render(<Test />, document.getElementById('react-root'));
</script>
</body>
</html>