<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Socket Test</title>
</head>
<body>
<pre id="messages">
</pre>

<button onclick="sendProto('test')">Send Test Proto</button>

<button onclick="send()">Send</button>
<small>Running on server {{ server }}</small>
<div id="status"></div>

<script src="https://unpkg.com/protobufjs@6.6.3/dist/protobuf.js"></script>
<script type="text/javascript" charset="utf-8">
    function setStatus(status) {
        const el = document.createElement('small');
        el.innerText = status;
        const statusEl = document.getElementById('status');
        statusEl.appendChild(el);
        statusEl.appendChild(document.createElement('br'));
    }

    setStatus('Loading protobufs...');

    const root = new protobuf.Root();

    const promises = [
        "/proto/models/rpc.proto",
    ].map(file => protobuf.load(file, root));

    const types = {
        RpcRequest: 'bigsciencequiz.RpcRequest',
        IdentifyUserRequest: 'bigsciencequiz.IdentifyUserRequest',
    };

    Promise.all(promises).then(() => {
        setStatus('Loaded proto files, loading types...');
        Object.keys(types).forEach(name => {
            window[name] = root.lookup(types[name]);
        });
        setStatus('Protobuf load complete.');
        const socket = new WebSocket(`ws://${window.location.host}/socket`);
        socket.binaryType = 'arraybuffer';
        socket.onmessage = function (msg) {
            setStatus(`Received message ${msg.data}`);
        };
        window.sendProto = (which) => {
            switch (which) {
                case 'test':
                    const message = RpcRequest.create();
                    message.identifyUserRequest = IdentifyUserRequest.create();
                    message.identifyUserRequest.deviceId = "123456789abcdef";
                    const data = RpcRequest.encode(message).finish();
                    socket.send(data);
                    setStatus(`sent ${which}`);
                    break;
                default:
                    setStatus(`WTF: no proto ${which}`);
            }
        }
    })
</script>
</body>
</html>